body {
  margin: 0 auto;
  padding: 0;
  background-color: rgb(8, 4, 15);
  font-family: "Cabin Sketch", sans-serif;
}

h1 {
  color: rgb(128, 79, 23);
  font-size: 4em;
  text-align: center;
}

h2 {
  color: rgb(128, 79, 23);
  font-size: 2.7em;
  position: absolute;
  left: 20px;
  top: -5px;
}

#imageDenis img {
  width: 500px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper_conga {
  position: relative;
}

.red {
  left: -40px;
  width: 80px;
  height: 80px;
  background: orangered;
  box-shadow: 0 0 10px 5px orangered;
}

.orange {
  left: -30px;
  width: 60px;
  height: 60px;
  background: orange;
  box-shadow: 0 0 12px 6px orange;
}

.gold {
  left: -23px;
  width: 45px;
  height: 45px;
  background: gold;
  box-shadow: 0 0 9px 4px gold;
}

.white {
  left: -19px;
  width: 35px;
  height: 35px;
  background: lightyellow;
  box-shadow: 0 0 9px 4px lightyellow;
}

.blue {
  left: -9px;
  width: 15px;
  height: 15px;
  background: darkblue;
  box-shadow: 0 0 15px 10px darkblue;
}

.black {
  left: -22px;
  width: 40px;
  height: 40px;
  bottom: -50px;
  background: black;
  box-shadow: 0 0 15px 10px black;
}
.base {
  border-radius: 50%;
  position: absolute;
}

.flammeWrapper {
  position: relative;
  margin: auto;
  animation: flicker 3ms ease-in infinite;
}

.flamme {
  bottom: 0;
  position: absolute;
  border-radius: 50% 0% 50% 50%;
  transform: rotate(-45deg);
}

@keyframes flicker {
  0% {
    transform: rotate(-1deg);
  }
  20% {
    transform: rotate(2deg) scaleY(1.05);
  }
  40% {
    transform: rotate(-1deg);
  }
  60% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg) scaleY(0.9);
  }
  100% {
    transform: rotate(1deg);
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3em auto;
  width: 720px;
}

.wrapper_C1 {
  display: flex;
  margin-bottom: 1em;
}

.wrapper_C2 {
  display: flex;
  justify-content: space-around;
}

.conga {
  width: 70px;
}

.wrapper_conga:hover {
  background-color: rgb(37, 37, 37);
}

.wrapper_conga:active {
  background-color: darkgoldenrod;
  border-radius: 20px;
}

figure {
  text-align: center;
}

figcaption {
  color: brown;
  margin: 2.5em 0 1em 0;
}
